<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
<style>

 fieldset {
  background-color:#eeeeee;
       margin-left: 400px;
  margin-right: 400px;
     margin-top: 50px;

     border:0 none;
}



legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
    text-align: center;
}
</style>

<body  style="background-color: #ffee80">
<form name="gg" action="{{url_for('sign')}}" method="POST">
    <fieldset  >
        <legend style="font-size:36px; ">Inscription</legend>
    <p >Nom: <input type="text" id="lm" placeholder="Votre nom" name="nom_client"></p>
        <p>Mail:<input type="email" placeholder="Votre mail" name="Email"></p>
        <p>Password:<input type="password" placeholder="password" class="box" name="mot_de_passe"></p>
    <p>Date de Naissance: <input type="date" id="abou" name="date_naissance"></p>
    <p>Genre :<input type="radio" value="Homme" name="genre"><label for="h" >Homme</label><input type="radio" value="Femme" name="genre"><label for="f">Femme</label></p>
    <label for="pays">pays</label>
    <select name="pays" id="pays">
    <option value="" name="genre"></option>
    <option value="Mauritanie" name="pays">Mauritanie</option>
    <option value="France" name="pays">France</option>
    <option value="Maroc" name="pays">Maroc</option>
    <option value="Sénegal" name="pays">Sénegale</option>
    </select>
        <p style="text-align: center"><input type="submit" style="width: 200px; height: 50px ;   background-color: gray;" ></p>
    </fieldset>

</body>

<head/>
