<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel='stylesheet' href='style.css'>
    <script src='main.js'></script>
<body>
    <fieldset >
        <legend>Information personnel</legend>
    <p>Nom: <input type="text" id="lm" placeholder="Votre nom"></p>
    <p>Prenom: <input type="text" id="lm" placeholder="Votre prenom"></p>
    <p>Date de Naissance: <input type="date" id="abou"></p>
    <p>Mail:<input type="email" placeholder="Votre mail"></p>
    <p>Genre :<input type="radio" value="h"><label for="h">Homme</label><input type="radio" value="f"><label for="f">Femme</label></p>
    <label for="pays">pays</label>
    <select name="pays" id="pays">
    <option value=""></option>
    <option value="Mr">Mauritanie</option>
    <option value="Fr">France</option>
    <option value="Us">Etat-Unis</option>
    <option value="Sn">Sénegale</option>
    </select>
    </fieldset>
    <fieldset>
        <legend>Specialité</legend>
        <p><input type="checkbox">Statistique</p>
        <p><input type="checkbox">Math-Info</p>
        <p><input type="checkbox">Informatique</p>
        <p><input type="checkbox">Economie</p>
        <p><textarea placeholder="ecrivez votre text"></textarea></p>
    </fieldset>
    <fieldset>
        <legend>Photo d'identité</legend>
        <p><input type="file"</p>
        <p><input type="submit"></p>
        

    </fieldset>
    
   
    
</body>

<head/>
